# Curso de progamaçao em python

In [1]:
print("olá SENAI") # meu primeiro codigo

olá SENAI

In [ ]:
Print('oi vida') #meu primeiro erro

NameError: name 'Print' is not defined

In [ ]:
Print("erro de sintaxe!)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-203-ec28176256da>, line 1)

In [ ]:
print('erro'

SyntaxError: incomplete input (<ipython-input-39-6676802d78ee>, line 1)

# Trabalhando com dados literais

In [ ]:
print(12375.8) # primeiro numero fracionario- float

12375.8

In [ ]:
print(12.378,9)

12.378 9

In [ ]:
print('luiz','kassia', sep='********')

luiz********kassia

In [ ]:
print(12375.08) # "." é a separaçao de decimais

12375.08

Booleano

In [ ]:
5 > 2# dado booleano

True

# operaçoes em python

In [ ]:
# @title Adição

print(8 + 10)    # Exemplo de Adição

18

In [ ]:
print(56 + 9.4) # Exemplo de adiçao e float

65.4

In [ ]:
# @title Subtraçao

print(345 - 78) # exemplo de subtraçao

267

In [ ]:
print( 1.45 - 27) #subtraçao entre inteiro e float

-25.55

In [ ]:
# @title multiplicação

print(3*3) #exemplo de multiplicaçao

In [ ]:
print(4.5 * 18) #exemplo de multiplicaçao de float

In [ ]:
# @title divisão

print(100/5) # exemplo de divisão (todo resultado será float)

20.0

In [ ]:
print( 100 // 5 ) #exemplo de divisão inteira (nao será float, divisão inteira)

20

In [ ]:
print(100 // 5.0) #exemplo de divisão inteira com float

20.0

In [ ]:
# @title Exponenciação

print(2 ** 3) #exemplo de exponenciação

8

In [ ]:
print(4.8**4) #exemplo de exponenciação

530.8416

In [ ]:
# @title Módulo

print(12%5)  #exemplo de modulo(mostra o resto de uma divisão)

2

In [ ]:
print(12%4.5) #exemplo de modulo entre

3.0

# Exercicio 1

Crie um progama para receber dois valores e em seguida exiba soma desses valores

In [ ]:
# Progama para receber dois valores e exibir a soma

valor1=550  #primeira variavel
valor2=218  #segunda variavel

soma = (valor1+valor2) #exemplo de operação

print('O resultado de valor 1 e valor 2 é ',soma)

O resultado de valor 1 e valor 2 é  768

In [9]:
fabrri =5
legal =2

booleano = 5>2

print('fabbri é legal?,', booleano)

fabbri é legal?, True

# Exercicio 2

In [ ]:
# Progama para receber dois valores e exibir a subtração

valor1=550  #primeira variavel
valor2=218  #segunda variavel

sub = (valor1-valor2) #exemplo de operação

print('O resultado de valor 1 e valor 2 é ',sub)

# Exercicio 3

In [ ]:
# Progama para receber dois valores e exibir a multiplicação

valor1=550  #primeira variavel
valor2=218  #segunda variavel

mul = (valor1-valor2) #exemplo de operação

print('O resultado de valor 1 e valor 2 é ',mul)

O resultado de valor 1 e valor 2 é  332

# Exercicio 4

In [ ]:
# progama para receber dois valores e exibir a divisão

valor1= 20 #primeiro valor

valor2= 2  #segundo valor

divi= (valor1/valor2)

print("o resultado de valor1 e valor2" ,divi)

o resultado de valor 1 e valor 2 10.0

# Exercicio 5

In [ ]:
# progama para receber dois valores e exibir o resto da divisão

valor= 12
valor2= 7

res = (valor1%valor2)

print( 'O resto da divisao do valor1 e valor2', res)

O resto da divisao do valor1 e valor2 6

# Exercicio 6

In [ ]:
# progama para receber um valor ao quadrado de um numero

valor= 40
valor2

pot= (valor1**valor2)

print('o valor da potencia dos valores é', pot)

o valor da potencia dos valores é 1280000000

# Exercicio 7

In [ ]:
# progama para receber um valor sobre a raiz quadrada

valor1= 121
ra= (valor1** (1/2))

print('O valor da raiz do valor1 é',ra)

O valor da raiz do valor1 é 11.0

In [ ]:
res1=('ele é um otimo professor')

res2=('ele é muito engraçado')

proba=100/2

In [8]:
# Exemplo de biblioteca math

import math # importar a biblioteca

#numero=45 # criando a variavel

numero= float(input('digite um numero'))

raizquadrada= math.sqrt(numero)
print('a raiz quadrada é', raizquadrada)

digite um numero35
a raiz quadrada é 5.916079783099616

exercicico de 4 numeros

In [ ]:
from ast import Yield
# Progama dos 4 numeros

print('inicio de progama')
# Entrada progama
A= float(input('digite o primeiro numero...\n'))
B= float(input('digite o segundo numero:'))
C= float(input('digite o terçeiro numero:'))
D= float(input('digite o quarto numero:'))

# Processamento

X= A * B
Y= C * D

Resultado = X - Y

print('O resultado de X - Y é' , Resultado)

print('\nFim do progama...')

# Ordem dos operdadores

In [ ]:
# exemplo de operação modulo

print(9%6&2) # esse operador tem ligação pelo lado esquerdo
# executar da esquerda para direita

2

In [ ]:
# exemplo de operçao exponenciação

print(2**2**3) # esse operdador tem ligação pelo lado direito
# executar da direita para esquerda

256

# Indetificando o tipo de dados

teste defina o tipo de dados de:

4, 307, 187789.7 'Noel' "-307', SENAI

In [ ]:
# Exemplo de teste de tipo de dados

print('4, é considerado')
print(type(4))
print('\n307 é considerado')

print('\n187789.7 é considerado')

print('\n "Noel" é considerado')

print('\n"-307\' é considerado')
print('\nSENAI é considerado')

4, é considerado
<class 'int'>

307 é considerado

187789.7 é considerado

 "Noel" é considerado

"-307' é considerado

SENAI é considerado

# texto e seus segredos

In [ ]:
# @title descobrindo quantas letras há em uma palavra

palavra= 'o rato roeu a roupa do rei de roma'

len(palavra)

34

Descubra quantas letras tem em:

'cadeias de caracteres'

'joão tem 22 anos e R$78,98 no bolso'
''

In [ ]:
palavra1= 'cadeia de caracteres'

palavra2= 'joão tem 22 anos e R$78,98 no bolso'

palavra3= ''

len(palavra1)
len(palavra2)
len(palavra3)

0